body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.ui.inverted.menu .item.disabled, .ui.inverted.menu .item.disabled:hover {
  color: rgba(225, 225, 225, .3) !important;
}

.ui.page.modals.dimmer {
  display: flex !important;
  justify-content: center;
}